img.mat-card-image {
    min-height: 374px;
    max-height: 374px;
    }

@media (max-width: 480px) { 
    .mat-card {
        width: 123%;
    }    
}

.mat-card {
    max-height: 42em;
    min-height: 42em;
}

