<div fxFlex fxLayout="column">
        <div fxLayout="row wrap">
            <div fxFlex="25" fxFlex.md="33" fxFle.sm="50" fxFlex.xs="100" fxLayout="column"
            *ngFor ="let personagem of allCharacters" style="padding:7px">
                <mat-card class="card">
                    <mat-card-header>
                       
                        <img mat-card-avatar [src]="personagem.img">
                        <mat-card-title>{{personagem.name}}</mat-card-title>
                        <mat-card-subtitle>Apelido: {{personagem.nickname}}</mat-card-subtitle>
                    </mat-card-header>

                    <img mat-card-image  [src]="personagem.img">
                    
                   <!--<mat-card-content *ngFor="let emprego of personagem.occupation">
                         {{emprego}}               
                    </mat-card-content> -->
                    
                    <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>