<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button class="menu-botao" mat-tab-label mat-ripple ng-star-inserted mat-button routerLink="characters">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      </button>
      <div class="digital-breaking">
        <i class="material-icons">fingerprint</i>
        <span>Breaking Bad</span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>