.Sobre {
    padding: 2em;
    position: relative;
    overflow-x: hidden;
    text-decoration: rgb(255, 255, 255);
    text-align: center;
}
body,
html {
  height: full-height;
 
}

a {
    color: #ff0267;
}