<div id="wrapper" class="Sobre">
    <div class="overlay"></div>
    <div id="page-content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="page-header">Olá Equipe 👀 </h1>

                    <p>Vim do futuro dizer a vocês que serei seu novo colega e que posso não me sair tão bem no
                        primeiro pair programming,</p>
                    <p>mas nos próximos prometo melhorar hahaha</p>
                    <p>Meu caminho no desenvolvimento ainda é muito longo, porém sei que com o pouco conhecimento que
                        tenho
                    </p>
                    <p>posso contribuir bastante para o time.</p>
                    <p>Estou a 3 semestres estudando Análise e Desenvolvimento na Uniritter e, mesmo programando já há
                        algum tempo,</p>
                    <p>sigo com a relação de amor e ódio com a POO =)</p>
                    <p>Agora sem brincadeira... Eu sou empenhado hahahaha</p>
                    <p>O teste em si foi muito divertido de fazer e agradeço a oportunidade.</p>
                    <p>Aguardo um feedback de vocês mesmo que negativo, pois me ajuda a evoluir e pontuar o que devo
                        estudar mais.</p>
                    <p>Segue uma breve documentação do projeto para vocês, espero que gostem ❤️</p>
                    <p>
                    </p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <h3>Tecnologias Utilizadas</h3>
                    <p> <a href="https://angular.io/">Angular 8</a></p>
                    <p> <a href="https://material.angular.io/">Angular Material</a></p>
                    <p></p>
                    <h3>O Desenvolvimento</h3>

                    <p>Procurei componentizar o máximo</p>
                    <p>Utilizei um breve conhecimento de Clean-Code, UX/UI.</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p>Utilizei a técnica do GitFlow para versionamento de código.</p>
                    <h3>Instruções</h3>
                    <h1 align="center">Welcome Breaking Bad 👋</h1>
                    <p>
                        <img alt="Version"
                            src="https://img.shields.io/badge/version-1.0.0-blue.svg?cacheSeconds=2592000" />
                    </p>


                    <p>## Install</p>

                    <p>## Development server</p>

                    <p>Run ng serve</p>

                    <p>## Code scaffolding</p>

                    <p>Run `ng generate component component-name`</p>

                    <p>## Build</p>

                    <p>Run ng build</p>

                    <p>## Running unit tests</p>

                    <p>Run ng test</p>

                    <p>## Running end-to-end tests</p>

                    <p>Run ng e2e
                    </p>


                    <p>Author</p>

                    <p>👤 **Iury De Moraes Cardoso**</p>

                    <p>Github:<a href="https://github.com/iurycardoso"> @iurycardoso</a></p>

                    <p>_This README was generated with ❤️ by <a
                            href="https://github.com/kefranabg/readme-md-generator">readme-md-generator</a></p>

                    <h3>Obrigado Zenvia pela Oportunidade 🚀❤️</h3>
                </div>
            </div>
        </div>
    </div>
</div>